<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:flex-direction="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Atores</title>
</head>
<body>
<h1>Lista de Atores</h1>
<table class="table">
    <thead>
    <tr th:each="ator : ${atores}">
        <th scope="col">Foto</th>
        <th scope="col">Informações</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
        <td><a th:href="@{/ator/editar/{id}(id=${ator.id})}" class="btn btn-success" role="button">Editar</a></td>
        <td><a th:href="@{/ator/remover/{id}(id=${ator.id})}" class="btn btn-danger" role="button" onclick="return confirm('Tem certeza que deseja excluir este ator?')">Excluir</a></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ator : ${atores}">
        <td><img th:src="${ator.imagem}" width="250"></td>
        <td>
            <b><p th:text="${ator.apelido}"></p></b>
            <p th:text="${ator.nome}"></p>
            <p th:text="${ator.nacionalidade}"></p>
        </td>
        <td><a th:href="@{/ator/editar/{id}(id=${ator.id})}" class="btn btn-success" role="button">Editar</a></td>
        <td><a th:href="@{/ator/remover/{id}(id=${ator.id})}" class="btn btn-danger" role="button" onclick="return confirm('Tem certeza que deseja excluir este ator?')">Excluir</a></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/ator/novo}" class="btn btn-info" role="button">Adicionar novo ator</a>
</body>
</html>