<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
  <meta charset="UTF-8">
  <title>Adicionar Filme</title>
</head>
<body>
<h1>Adicionar Filme</h1>
<form th:object="${filme}" method="post" th:action="@{/filme/editar}">
  <div class="form-group">
    <input type="hidden" th:field="*{id}">
    <label for="titulo">Título:</label>
    <input class="form-control" type="text" id="titulo" name="titulo" th:field="*{titulo}"/>
  </div>
  <div class="form-group">
    <label for="genero">Gênero:</label>
    <select class="form-control" name="genero" id="genero">
      <option value="comédia">Comédia</option>
      <option value="ação">Ação</option>
      <option value="drama">Drama</option>
      <option value="terror">Terror</option>
    </select>
  </div>
  <div class="form-group">
    <label for="sinopse">Sinopse:</label>
    <textarea class="form-control" type="text" id="sinopse" name="sinopse" th:field="*{sinopse}"></textarea>
  </div>
  <div class="form-group">
    <label for="imagem">Capa:</label>
    <input class="form-control" type="text" id="imagem" name="imagem" th:field="*{imagem}"/>
  </div>
  <div class="form-group">
    <label for="duracao">Duração:</label>
    <input class="form-group" type="number" id="duracao" name="duracao" th:field="*{duracao}"/>
  </div>
  <div class="form-group">
    <label for="imdb">Nota IMDB:</label>
    <input class="form-group" type="number" id="imdb" name="imdb" th:field="*{imdb}"/>
  </div>
  <button type="submit">Salvar</button>
  <a th:href="@{/filme}">Cancelar</a>
</form>
</body>
</html>