<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:flex-direction="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
  <meta charset="UTF-8">
  <title>Catálogo de Filmes</title>
</head>
<body>
<h1>Lista de Filmes</h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Likes</th>
    <th scope="col">Capa</th>
    <th scope="col">Informações</th>
    <th scope="col">Like</th>
    <th scope="col">Favorito</th>
    <th scope="col">Dislike</th>
    <th scope="col">Editar</th>
    <th scope="col">Excluir</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="filme : ${filmes}">
    <td style="display: flex; flex-direction: row; gap: 5px">
      <p th:text="${filme.likes}"></p>
      <img src="https://cdn-icons-png.flaticon.com/512/4926/4926585.png" width="20" height="20">
    </td>
    <td><img th:src="${filme.imagem}" width="250"></td>
    <td>
      <b><p th:text="${filme.titulo}"></p></b>
      <p th:text="${filme.sinopse}"></p>
      <p th:text="'Nota: ' + ${filme.getImdb()}"></p>
      <p th:text="${filme.duracao} + ' minutos'"></p>
    </td>
    <td><a th:href="@{/filme/like/{id}(id=${filme.id})}" class="btn btn-primary" role="button">Like</a></td>
    <td>
      <a th:if="${filme.getFavorito() == false}" th:href="@{/filme/favoritar/{id}(id=${filme.id})}" class="btn btn-warning" role="button">Favoritar</a>
      <a th:unless="${filme.getFavorito() == false}" th:href="@{/filme/desfavoritar/{id}(id=${filme.id})}" class="btn btn-outline-warning" role="button" disabled>Desfavoritar</a>
    </td>
    <td><a th:href="@{/filme/dislike/{id}(id=${filme.id})}" class="btn btn-outline-primary" role="button">Dislike</a></td>
    <td><a th:href="@{/filme/editar/{id}(id=${filme.id})}" class="btn btn-success" role="button">Editar</a></td>
    <td><a th:href="@{/filme/remover/{id}(id=${filme.id})}" class="btn btn-danger" role="button" onclick="return confirm('Tem certeza que deseja excluir este filme?')">Excluir</a></td>
  </tr>
  </tbody>
</table>
<a th:href="@{/filme/novo}" class="btn btn-info" role="button">Adicionar novo filme</a> <a th:href="@{/filme/favoritos}" class="btn btn-warning" role="button">Favoritos</a> <a th:href="@{/ator}" class="btn btn-dark" role="button">Lista de atores</a>
<br>
<br>
<h1>Notícias</h1>
<div class="media" th:each="noticia : ${noticias}">
  <img class="mr-3" th:src="${noticia.imagem}" width="250">
  <div class="media-body">
    <h5 class="mt-0"><p th:text="${noticia.titulo}"></p></h5>
    <p th:text="${noticia.corpo}"></p>
    <p th:text="${noticia.autor}"></p>
    <a th:href="@{/noticia/editar/{id}(id=${noticia.id})}">Editar</a>
    <a th:href="@{/noticia/remover/{id}(id=${noticia.id})}" onclick="return confirm('Tem certeza que deseja excluir esta notícia?')">Excluir</a>
  </div>
</div>
<br>
<br>
<a th:href="@{/noticia/novo}">Nova notícia</a>
</div>
</body>
</html>