<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Nova Notícia</title>
</head>
<body>
<h1>Adicionar Notícia</h1>
<form th:object="${noticia}" method="post" th:action="@{/noticia/novo}">
    <div class="form-group">
    <label for="titulo">Título:</label>
    <input class="form-control" type="text" id="titulo" name="titulo" th:field="*{titulo}"/>
    </div>
    <div class="form-group">
    <label for="corpo">Corpo:</label>
    <textarea class="form-control" type="text" id="corpo" name="corpo" th:field="*{corpo}" rows="3"></textarea>
    </div>
    <div class="form-group">
    <label for="imagem">Imagem:</label>
    <input class="form-control" type="text" id="imagem" name="imagem" th:field="*{imagem}"/>
    </div>
    <div class="form-group">
    <label for="autor">Autor:</label>
    <input class="form-control" type="text" id="autor" name="autor" th:field="*{autor}"/>
    </div>
    <button type="submit">Salvar</button>
    <a th:href="@{/filme}">Cancelar</a>
</form>
</body>
</html>